h1 { color:rgb(224, 79, 200)}

.header{
    background-color: rgb(214, 104, 137);
    display: flex;
    justify-content: space-between;
 }

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .grid img{
     border: 2px solid black;
     border-radius: 50px;
 }

 .origami {
     border-radius: 20px;
     background-color: white;

     width: 310px;
     font-family: fantasy;
 }