h1 { color:rgb(63, 3, 3)}

.header{
    background-color: #da3939;
    display: flex;
    justify-content: space-between;
 }

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .grid img{
     border: 2px solid #000000;
     border-radius: 50px;
 }

 .origami {
     border-radius: 20px;
     background-color: #ffffff;
     padding: 30px;
     margin: 25px;
     width: 310px;
     font-family: fantasy;
 }

 .menu{
     display: flex;
     justify-content: space-between;
     background-color: black;
     padding: 15px;
     font-size: 20px;
     font-family: sans-serif;
     font-weight: 400;
     color: cornflowerblue;
 }

 body{
     margin: 0px;
     background-color: #5f6bd8;
 }